body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(5,auto);
    grid-template-areas:"header header header"
                        "navig main said"
                        "navig main said"
                        "navig main said"
                        "footer footer footer";
    text-align: center;
}

header{

    grid-area: header;
    height: 200px;
    width: 100%;
    overflow: hidden;
    background-color: #2976f2;
}

.navigation{

    grid-area: navig;
    width: 375px;
    height: 800px;
    background-color: #a017d6;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
}

.main{
    overflow: hidden;
    grid-area: main;
    height: 800px;
    background-color: #e0ce43;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.main img{
    width: 100px;
    
    
}
.saider{

    grid-area: said;
    width: 375px;
    height: 800px;
    background-color: #dd3a16;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
}

footer{

    grid-area: footer;
    width: 100%;
    height: 100px;
    background-color: #51c633;
    overflow: hidden;
}


@media screen and (max-width:1200px){
    body{
        grid-template-areas:"header header header"
                        "navig . said"
                        "navig . said"
                        "main main main"
                        "footer footer footer";
        
    }

    .navigation{
        margin-left:  calc(50vw - 382.2px ); 
    }
    .saider{
        margin-right: calc(50vw - 382.2px ); 
    }

}



@media screen and (max-width:763px){
    body{
        grid-template-areas:"header header header"
                        "navig navig navig"
                        "main main main"
                        "said said said"
                        "footer footer footer";

    }
    .main{
        height: auto;
        min-height: 800px;
    }
    .navigation{
        margin: 0 calc(100%/2 - 375px/2);
    }
    .saider{
        margin: 0 calc(100%/2 - 375px/2);  
    }
}

