/*Стилі для браузера IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    body{
        margin: 0;
        padding: 0;
        display: -ms-grid;
        -ms-grid-columns: auto 1fr auto;
        -ms-grid-rows: auto auto auto auto auto;
    }
    
    header{
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    
    .navigation{
        -ms-grid-row: 2;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
    }
    
    .main{
        -ms-grid-row: 2;
        -ms-grid-row-span: 3;
        -ms-grid-column: 2;
        overflow: hidden;
        
    }
    
    .main p{
        width: 100%;
        flex: 1 0 auto;
    }
    .main div:nth-child(2n){
        width: 100%;
        flex: 1 0 auto;
    }
    .saider{
        -ms-grid-row: 2;
        -ms-grid-row-span: 3;
        -ms-grid-column: 3;
    }
    
    footer{
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
   
}

@media screen and (max-width:1200px){
    header{
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    .navigation{
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        
    }
    .main{
        -ms-grid-row: 4;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        
    }
    .saider{
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        
    }
    footer{
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
}

 @media screen and (max-width:750px){
    
        header{
            -ms-grid-row: 1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 3;
        }
        .navigation{
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 3;
            
        }
        .main{
            -ms-grid-row: 3;
            -ms-grid-row-span: 1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 3;

        }
        .saider{
            -ms-grid-row: 4;
            -ms-grid-row-span: 1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 3;

        }
        footer{
            -ms-grid-row: 5;
            -ms-grid-column: 1;
            -ms-grid-column-span: 3;
        }
    }